{
    "clientId": "123456789",
    "guildId": "987654321",
    "token": "token.do.discord.aqui",
    "prefixo": "!",
    "emoteBrabo": "😠",
    "emoteEnvergonhado": "😳",
    "airtableKey": "keyAAABBBCCCDDDEE",
    "airtableBase": "appFFFGGGHHHIIIJJ",
    "canalAniversario": "111111111111111",
    "roleAniversario": "2222222222222222",
    "roleCounting": "88888888888888",
    "textoPomodoro": "33333333333333333",
    "vozPomodoro": "44444444444444444"
}