{
    "token": "token.do.discord.aqui",
    "prefixo": "!",
    "servidoresAutorizados": [
        "111222333444555666",
        "769993479220232272"
    ],
    "emoteBrabo": "😠",
    "emoteEnvergonhado": "😳",
    "airtableKey": "keyAAABBBCCCDDDEE",
    "airtableBase": "appFFFGGGHHHIIIJJ"
}